/* Sector Universal*/

* {
    padding: 0 auto;
    margin: 0 auto;
}

/* Sector */

#contenido {
    float: left;
    height: 70%;
    width: 61%;
    background-color: rgb(218, 127, 127);
    margin: 0.5em;
}


#contenedor {
    width: 1200px;
    height: 1000px;
    background-color: darkgrey;
    max-width: 0 auto;
}

#encabezado {
    height: 15%;
    background-color: rgb(248, 228, 228);
    margin: 1em auto;
}

#menu {
    height: 5%;
    background-color: darkgray;
    margin: 1em auto;
}

#articulo1 {
    width: 65%;
    height: 95%;
    /*  background-color: white; */
    margin: 0.5em auto;
    float: left;
}

#articulo2 {
    width: 65%;
    height: 95%;
    /*  background-color: white; */
    margin: 0.5em auto;
    float: left;
}

#fueraSeccion {
    height: 70%;
    width: 36%;
    background-color: rgb(212, 179, 179);
    margin: 0.5em;
    float: right;
}

#pie {
    height: 1.5%;
    border-radius: 2em;
    margin: 0.5em;
    background-color: aqua;
    float:left;
}

/* Selector de class */
.texto {
    text-align: justify;
    font-family: 'Monster Friend Fore';
    
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;

}

.encabezado_articulo {
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
    font-size: 25px;
}

.imagenes {
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    width: 200px;

}

/* Selector de etiqueta */

ul {
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;

}

.titulo{
    font-size: 75px;
}

.subtitulos{
    font-size: 40px;
}

.subsubtitulos{
    font-size: 20px;
}